/* 기본 스타일 */ 
body, html { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    font-family: Arial, sans-serif; } 

#main { /*전체 배경*/
  background: url("images/menubg_phone.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; /* 화면 높이 채우기 */
  display: flex;
  align-items: center;   /* 세로 중앙 */
  justify-content: center; /* 가로 중앙 */
} 

#contents { /*묶음 컨테이너*/
    display: flex; 
    flex-direction: column; /* 세로 배치 (로고 위, 국기 아래) */
    align-items: center;
    text-align: center;
}

/* 로고 */
#logo img {
    width: 800px;
    height: auto;
    margin-bottom: 20px;
}


/* 국기 버튼들 */
#flags {
    display: grid;
    grid-template-columns: repeat(2, 180px); /* 2열 배치 */
    gap: 50px;
}

.flag {
    width: 150px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.flag:hover {
    transform: scale(1.1);
}


/* 공통 메뉴 페이지 스타일 */
body.menu {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;  /* 이미지 비율 차이로 생기는 여백은 검정 */
  color: #fff;
}

/* 메뉴 이미지 영역 */ 
.menu-images img { 
    width: 100%; /* 가로 꽉 차게 */ 
    height: auto; /* 세로 비율 유지 */ 
    display: block; /* 이미지 간 간격 제거 */ 
} 

/* 상단 버튼 영역 */ 
.menu-container { 
    position: sticky; /* 스크롤 내려도 고정 */ 
    top: 0; 
    padding: 10px; 
    background: rgba(0,0,0,0.5); 
    text-align: left; 
}

/*
body.menu .menu-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
*/

/* 뒤로가기 버튼 기본 스타일 (PC 전용) */ 
.back-button { 
    color: #fff; 
    text-decoration: none; 
    background: rgba(0,0,0,0.7); 
    padding: 8px 15px; 
    border-radius: 6px; 
    font-size: 16px; 
}


/* 반응형 */
@media all and (min-width: 1024px){
	/*브라우저 창 width가 1024px보다 커지는 순간부터 적용
	데스크탑*/
    #main {
        background: url("images/menubg_wide.png") no-repeat center center fixed;
        background-size: cover;
      }
    .flag { width: 180px; }
}


/* 모바일·태블릿 + 세로 */
@media screen and (max-width: 1023px) and (orientation: portrait) {
    #main {
      background: url("images/menubg_phone.png") no-repeat center center fixed;
      background-size: cover;
    }
    #logo img {
        width: 300px;
        margin-bottom: 5px;
    }
    #flags {
        grid-template-columns: repeat(2, 100px);
        gap: 30px;
    }
    .flag {
        width: 80px;
    }
    .back-button { display: none; }
    .menu-container {display: none;}
}


/* 모바일·태블릿 + 가로 */
@media screen and (max-width: 1023px) and (orientation: landscape) {
    #main {
      background: url("images/menubg_wide.png") no-repeat center center fixed;
      background-size: cover;
    }
    #logo img {
        width: 400px;
        margin-bottom: 5px;
    }
    #flags {
        grid-template-columns: repeat(2, 120px);
        gap: 30px;
    }
    .flag {
        width: 80px;
    }
    .back-button { display: none; }
    .menu-container {display: none;}
}
